$icon-font-path: '../fonts/';
$font-family-base: 'Roboto', sans-serif;
$headings-font-weight: 300 !default;

$foreground: #eee;
$sea-color: #43535a;

$tab-fg: #43535a;
$tab-active-fg: #8ba2a4;
$tab-active-bg: #23527c;

$OpenSansPath: '../fonts';

$brand-info: #64ff64;


// bower:scss
@import 'bower_components/fontawesome/scss/font-awesome.scss';
@import 'bower_components/open-sans-fontface/open-sans.scss';
// endbower


@import 'map';

.sidebar--close {
  width: 0;
  max-width: 0;
}
.sidebar--open {
  max-width: 300px;
}
.sidebar {
  height: 100vh;
  flex-direction: column;
  flex: 1 1 auto;
  position: static;
  transition: max-width .3s cubic-bezier(0,0,.2,1); //, transform .3s cubic-bezier(0,0,.2,1);
  .expansion-panel {
    .expansion-panel__body {
      padding: 10px;
    }
  }
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.map-row,
.chart-row {
  padding-top: 2vh;
}

.map-card {
  flex: 3 1 auto;
  max-height: calc(100vh - 2rem);
}

.map-card,
.chart-card {
  .card__text {
    height: 100%;
    padding: 0;
  }
}

.chart-card {
  flex: 1 1 auto;
}

.chart-legend {
  left: 50px;
  position: absolute;
  top: 20px;

  h1 {
    font-size: 1.5rem;
  }
}

.clipped {
  clip-path: url('#clip');
}

.axis-title {
  fill: black;
}

.story-card {
  flex: 1 1 auto;
  max-height: calc(100vh - 2rem);
}

.story-container {
  flex: none;
  height: calc(100vh - 28px - 2rem);
  overflow-y: scroll;
}

.story-item {
  video,
  img {
    max-width: 100%;
  }

  .jssor-slider-container {
    height: 300px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  .jssor-slider {
    cursor: move;
    height: 300px;
    left: 0;
    overflow: hidden;
    position: static;
    top: 0;
    width: 100%;
  }
}

.chart {
  height: 30vh;

  svg {
    height: 100%;
    width: 100%;

    .line {
      fill: none;
      stroke: $brand-info;
    }
  }

  text {
    font-family: $font-family-base;
  }
}

circle.active {
  stroke: #000;
  stroke-width: 2;
}

.nopadding {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.sidebar {
  h2 {
    font-size: 1.5rem;
  }
}
