$icon-font-path: '../fonts/';
$font-family-base: 'Open Sans', sans-serif;
$headings-font-weight: 300 !default;

$foreground: #eee;
$sea-color: #43535a;

$tab-fg: #43535a;
$tab-active-fg: #8ba2a4;
$tab-active-bg: #23527c;

$OpenSansPath: '../fonts';

$brand-info: #64FF64;


// bower:scss
@import "bower_components/fontawesome/scss/font-awesome.scss";
@import "bower_components/open-sans-fontface/open-sans.scss";
// endbower


@import "map.scss";

.map-row {
  padding-top: 1rem;
}
.map-card {
  flex: 3 0;
  max-height: calc(100vh - 2rem);
}
.story-card {
  flex: 1 0;
  max-height: calc(100vh - 2rem);
}
.story-container {
  overflow-y: scroll;
  flex: none;
  height: calc(100vh - 28px - 2rem);
}

.story-item {
  video,img {
    max-width: 100%;
  }
  .jssor-slider-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }
  .jssor-slider {
    cursor: move;
    position: static;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
  }
}

.chart {
  background-color: $sea-color;
  color: $foreground;
  flex: none;
  height: 30vh;
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: none;
    }
    .line {
      stroke: $brand-info;
      stroke-opacity: 0.5;
    }
  }
}


circle.active {
  stroke: #000;
  stroke-width: 2;
}


.nopadding {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
