$icon-font-path: '../fonts/';
$font-family-base: 'Open Sans', sans-serif;
$headings-font-weight: 300 !default;
$tab-fg: #43535A ;
$tab-active-fg: #8BA2A4;
$tab-active-bg: #23527C;
$OpenSansPath: '../fonts';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/sidebar-v2/scss/leaflet-sidebar.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";
@import "bower_components/open-sans-fontface/open-sans.scss";
// endbower


@import "map.scss";


circle.active {
  stroke-width: 2;
  stroke: black;
}


.nopadding {
  padding: 0;
  margin: 0;
}

.crosshair {
  cursor: crosshair;
}


.panel.sidebar-pane {
  padding: 0px;
}
.sidebar-content {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgba(255, 255, 255, 0.9);
}
#paintings  .row  img {
  height: 50px;
}
.sidebar-tabs {
  background-color: rgba(20, 20, 20, 0.5);
  color: rgba(220, 255, 220, 0.9);
  li {
    color: inherit;
  }
}
.sidebar-pane .panel-heading {
  border-top-left-radius: 0px;

}
.color {
  width: 20vw;
  height: 20px;
  vertical-align: middle;
}
div .colors {
  display: flex;
  padding: 0px;
}
div .palette {
  margin-top: 5px;
  margin-bottom: 5px;

}

div .row img {
  width: 100%;
}

.slider.slider-horizontal {
  width: 100%;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
.hidden {
  display: none;
}
