$icon-font-path: '../fonts/';

$tab-fg: #43535A ;
$tab-active-fg: #8BA2A4;
$tab-active-bg: #23527C;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/sidebar-v2/scss/leaflet-sidebar.scss";
// endbower


@import "map.scss";
circle.active {
  stroke-width: 2;
  stroke: black;
}


.nopadding {
  padding: 0;
  margin: 0;
}

.crosshair {
    cursor: crosshair;
}

.panel.sidebar-pane {
    padding: 0px;
}
.sidebar-tabs {
  background-color: rgba(20, 20, 20, 0.5);
  color: rgba(200, 255, 200, 0.9);
  li {
    color: inherit;
  }
}
.sidebar-pane .panel-heading {
    border-top-left-radius: 0px;

}
.color {
    width: 20vw;
    height: 20px;
    vertical-align: middle;
}
div .colors {
    display: flex;
    padding: 0px;
}
div .palette {
    margin-top: 5px;
    margin-bottom: 5px;

}

div .row img {
    width: 100%;
}

.slider.slider-horizontal {
    width: 100%;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
.hidden {
    display: none;
}
