$icon-font-path: '../fonts/';
$font-family-base: 'Roboto', sans-serif;
$headings-font-weight: 300 !default;

$foreground: #eee;
$sea-color: #43535a;

$tab-fg: #43535a;
$tab-active-fg: #8ba2a4;
$tab-active-bg: #23527c;

$OpenSansPath: '../fonts';
$roboto-font-path: '../fonts';

$brand-info: #64ff64;
$black: #000;

// bower:scss
@import 'bower_components/fontawesome/scss/font-awesome.scss';
@import 'bower_components/open-sans-fontface/open-sans.scss';
@import 'bower_components/roboto-fontface/css/roboto/sass/roboto-fontface.scss';
// endbower

@import 'map';

#app {
  width: 100vw;
}


.container {
  padding: 12px;
}
.menu__content {
  z-index: 5000;
}

.expansion-panel {
  .expansion-panel__container {
    max-width: 100%;
  }
  .list--group .list__tile {
    padding-left: 8px;
  }
  /* .tabs__container, */
  /* .list li { */
  /*   border: initial; */
  /* } */
  /* .list .list__tile { */
  /*   color: initial; */
  /* } */
  /* .expansion-panel__body .card { */
  /*   margin-bottom: 5px; */
  /*   margin-top: 5px; */
  /* } */

  /* .vue-color__chrome { */
  /*   margin-bottom: 10px; */
  /*   width: 100%; */
  /* } */
}

/* .sidebar--close { */
/*   width: 0; */
/*   max-width: 0; */
/* } */
/* .sidebar--open { */
/*   max-width: 300px; */
/* } */
.sidebar {
  /* height: 100vh; */
  /* flex-direction: column; */
  /* flex: 1 1 auto; */
  /* position: static; */
  /* transition: max-width .3s cubic-bezier(0,0,.2,1); //, transform .3s cubic-bezier(0,0,.2,1); */
  .expansion-panel {
    .expansion-panel__body  {
      padding: 0 10px;
      &>div {
        margin-top: 5px;
      }
    }

  }

}

.model {
  margin-bottom: 10px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.map-row,
.chart-row {
  padding-top: 2vh;
}

.map-card {
  flex: 3 1 auto;
  max-height: calc(100vh - 2rem);
}

.map-card,
.chart-card {
  .card__text {
    height: 100%;
    padding: 0;
  }
}

.chart-card {
  flex: 1 1 auto;
}

.chart-legend {
  left: 50px;
  position: absolute;
  top: 20px;

  h1 {
    font-size: 1.5rem;
  }
}

.clipped {
  clip-path: url('#clip');
}

.axis-title {
  fill: black;
}

.story-card {
  flex: 1 1 auto;
  max-height: calc(100vh - 2rem);
}

.story-container {
  flex: none;
  height: calc(100vh - 28px - 2rem);
  overflow-y: scroll;
}

.story-item {
  video,
  img {
    max-width: 100%;
  }

  .jssor-slider-container {
    height: 300px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  .jssor-slider {
    cursor: move;
    height: 300px;
    left: 0;
    overflow: hidden;
    position: static;
    top: 0;
    width: 100%;
  }
}

.chart {
  height: 30vh;

  svg {
    height: 100%;
    width: 100%;

    .line {
      fill: none;
      stroke: $brand-info;
    }
  }

  text {
    font-family: $font-family-base;
  }
}

circle.active {
  stroke: #000;
  stroke-width: 2;
}

.nopadding {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.sidebar {
  h2 {
    font-size: 1.5rem;
  }
}
#uv-video,
#uv-canvas {
  width: 250px;
  height: 250px;
}

.wind-rose {
  .axis line,
  .axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1,4;
  }

  .axis :last-of-type circle {
    stroke: #333;
    stroke-dasharray: none;
  }
  .line {
    fill: none;
    stroke: $black;
    stroke-opacity: 0.3;
    stroke-width: 1;
  }
  #triangle {
    fill: $black;
    stroke: $black;
    stroke-width: 1px;
  }
  .arrow {
    fill: none;
    stroke: $black;
    marker-end: url(#triangle);
    stroke-width: 2px;
    // this is a bit buggy...
    // filter: url(#dropShadow);
  }
}
