#map {
  flex: auto;
}

#webgl {
}
#drawing {
  border: 1px solid rgba(100, 255, 100, 0.5);

}
#uv {
  image-rendering: pixelated;
}
#uvhidden {
  /* hide, used for computation */
  display: none;
  image-rendering: pixelated;
}
.layer {
}


.leaflet-image-layer
{
  pointer-events: auto;
}
