#map {

}
.map-button {
  z-index: 10000;
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.leaflet-div-icon {
  background: inherit;
  border: inherit;
}

.station-icon {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  text-align: center;
}


.cluster-icon {
  opacity: 0.8;
  overflow: visible;
  svg {
    overflow: visible;
  }
  path {
    stroke: white;
    stroke-width: 1px;
  }
}

.featured {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.selected {
  border: 3px solid white;
}

#webgl {
}
#drawing {
  border: 1px solid rgba(100, 255, 100, 0.5);

}
#uv {
  image-rendering: pixelated;
}


.leaflet-canvas-layer
{
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container canvas.leaflet-canvas-layer {
  max-width: none !important;
}

.leaflet-canvas-layer
{
  pointer-events: none;
}

.leaflet-image-layer.leaflet-interactive {
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}
