<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delft3D Interactive</title>
    <meta name="description" content="Delft3D Interactive" />


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/bower_components/vuetify/dist/vuetify.min.css" />
    <link rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css" />
    <link rel="stylesheet" href="/bower_components/roboto-fontface/css/roboto/roboto-fontface.css" />
    <link rel="stylesheet" href="/bower_components/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css" />
    <link rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->



  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Map -->

    <div
       id="app"
       >
      <!-- Sidebar if settings.sidebar is active -->
      <v-app>
        <!-- <header> -->
        <!--   <v-navbar> -->
        <!--     <div class="navbar__side-icon"> -->
        <!--       <a href="#!" v-side-bar:left-sidebar> -->
        <!--         <v-icon>reorder</v-icon> -->
        <!--       </a> -->
        <!--     </div> -->

        <!--   </v-navbar> -->
        <!-- </header> -->
        <main>
          <v-sidebar drawer id="left-sidebar">
            <v-collapsible>
              <v-collapsible-header>Models</v-collapsible-header><v-collapsible-body>
                <model-details :model="model"></model-details>
                <models-overview></models-overview>
              </v-collapsible-body>
              <v-collapsible-header>Palettes</v-collapsible-header><v-collapsible-body>
                <painting-palettes></painting-palettes>
                <palette-chart :palette="palette"></palette-chart>
              </v-collapsible-body>
              <v-collapsible-header>Controls</v-collapsible-header><v-collapsible-body>
                <drawing-controls :sketch="sketch"></drawing-controls>
                <map-controls ref="mapControls" :map="map" ></map-controls>
              </v-collapsible-body>
              <v-collapsible-header>Key bindings</v-collapsible-header><v-collapsible-body>
                <key-bindings></key-bindings>
              </v-collapsible-body>
            </v-collapsible>
          </v-sidebar>
          <v-content>
            <v-container>
              <v-col xs8>
                <v-row class="map-row">
                  <v-card class="map-card" :height="settings.chart ? '64vh' : '96vh'  ">
                    <v-card-text class="map-text">
                      <v-map :zoom=8 :center="[52, 3]" ref="map" :class="{'sidebar-map': settings.sidebar}">

                        <toggle-controls :sketch="sketch"></toggle-controls>
                        <realtime-layer :model="model"></realtime-layer>
                        <canvas-layer :model="model" id="particles">
                          <particle-component
                             ref="particleComponent"
                             :model="model"
                             ></particle-component>

                        </canvas-layer>
                        <canvas-layer :model="model" id="webgl">
                          <model-canvas :model="model" :sketch="sketch" ref="modelCanvas"></model-canvas>
                        </canvas-layer>
                        <canvas-layer :model="model" id="drawing">
                          <drawing-canvas ref="drawingCanvas"></ddrawing-canvas>
                        </canvas-layer>

                        <v-tilelayer url="https://api.tiles.mapbox.com/v4/siggyf.c74e2e04/{z}/{x}/{y}.png?access_token={token}" token="pk.eyJ1Ijoic2lnZ3lmIiwiYSI6Il8xOGdYdlEifQ.3-JZpqwUa3hydjAJFXIlMA"></v-tilelayer>
                      </v-map>
                      <v-btn floating raised class="map-button white " v-side-bar:left-sidebar v-if="settings.sidebar">
                        <v-icon>edit</v-icon>
                      </v-btn>
                    </v-card-text>

                  </v-card>


                </v-row>
                <v-row class="chart-row">
                  <v-card class="chart-card" v-if="settings.chart">
                    <v-card-text>
                      <chart-container  :model="model"></chart-container>
                    </v-card-text>
                  </v-card>
                </v-row>
              </v-col>
              <v-col xs4 v-if="settings.story">
                <v-card v-if="model && model.story" class="story-card" height="96vh">
                  <v-card-text>
                    <story-container ></story-container>
                  </v-card-text>

                </v-card>
              </v-col>

            </v-container>




          </v-content>

        </main>


      </v-app>


      <!-- Hidden layers -->
      <div class="hidden layer">
        <div>
          <uv-source :model="model" ref="uvSource"></uv-source>
        </div>
        <div>
          <canvas id="canvas-icon" width="10" height="10"></canvas>
        </div>
      </div>
    </div>


    <div id="template-container"></div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="/bower_components/es6-promise/es6-promise.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/fetch/fetch.js"></script>
    <script src="/bower_components/pixi.js/dist/pixi.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="/bower_components/jssor-slider/js/jssor.slider.mini.js"></script>
    <script src="/bower_components/Vue2Leaflet/dist/vue2-leaflet.js"></script>
    <script src="/bower_components/vuetify/dist/vuetify.js"></script>
    <script src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <!-- custom version of sketch -->
    <script src="scripts-external/sketch.js"></script>

    <!-- custom overlay -->
    <script src="scripts/CanvasOverlay.js"></script>
    <!-- main files -->
    <script src="scripts/bus.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/realtime.js"></script>
    <script src="scripts/advection.js"></script>
    <script src="scripts/graphics.js"></script>
    <script src="scripts/models.js"></script>
    <script src="scripts/particles.js"></script>
    <script src="scripts/webgl.js"></script>
    <script src="scripts/palettes.js"></script>
    <script src="scripts/key-bindings.js"></script>
    <script src="scripts/story.js"></script>
    <script src="scripts/chart.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
