<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delft3D Interactive</title>
    <meta name="description" content="Delft3D Interactive" />


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->



  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Map -->


    <div
       id="app"
       class="vertical-columns"
       >
      <!-- Sidebar if settings.sidebar is active -->

      <!-- hidden components if no sidebar -->
      <!-- This is the main map object, if it changes sync up -->
      <div v-if="!settings.sidebar" v-show="false">
        <models-overview></models-overview>
        <painting-palettes></painting-palettes>
      </div>
      <div class="vertical-box">
        <div id="sidebar" class="sidebar collapsed" v-if="settings.sidebar">
          <!-- Nav tabs -->
          <ul class="sidebar-tabs" role="tablist">
            <li><a href="#model-pane" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#paint-pane" role="tab"><i class="fa fa-paint-brush"></i></a></li>
            <li><a href="#key-bindings-pane" role="tab"><i class="fa fa-keyboard-o"></i></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="sidebar-content active">
            <div class="sidebar-pane" id="model-pane">
              <h1>Current model</h1>
              <model-details :model="model"></model-details>
              <h1>Models</h1>
              <models-overview></models-overview>
            </div>
            <div class="sidebar-pane" id="paint-pane">
              <h4>Paintings</h4>
              <painting-palettes></painting-palettes>
              <!-- bind palette to app palette -->
              <palette-chart :palette="palette"></palette-chart>
              <h4>Controls for drawing and map</h4>
              <drawing-controls :sketch="sketch"></drawing-controls>
              <map-controls ref="mapControls" :map="map" ></map-controls>
            </div>
            <div class="sidebar-pane" id="key-bindings-pane">
              <key-bindings></key-bindings>
            </div>
          </div>
        </div>
        <!-- leaflet map -->
        <v-map :zoom=9 :center="[52, 4]" ref="map" class="sidebar-map">
          <!--  -->
          <side-bar></side-bar>
          <toggle-controls :sketch="sketch"></toggle-controls>
          <canvas-layer :model="model" id="particles">
            <particle-component
               ref="particleComponent"
               :model="model"
               ></particle-component>

          </canvas-layer>
          <canvas-layer :model="model" id="webgl">
            <model-canvas :model="model" :sketch="sketch"></model-canvas>
          </canvas-layer>
          <canvas-layer :model="model" id="drawing">
            <drawing-canvas></drawing-canvas>
          </canvas-layer>

          <!-- <webgl-layer></webgl-layer> -->
          <v-tilelayer url="https://api.tiles.mapbox.com/v4/siggyf.c74e2e04/{z}/{x}/{y}.png?access_token={token}" token="pk.eyJ1Ijoic2lnZ3lmIiwiYSI6Il8xOGdYdlEifQ.3-JZpqwUa3hydjAJFXIlMA"></v-tilelayer>
        </v-map>
        <chart-container v-if="settings.chart" :model="model"></chart-container>
      </div>
      <story-container v-if="settings.story"></story-container>
      <!-- Hidden layers -->
      <div class="hidden layer">
        <div>
          <uv-source :model="model" ref="uvSource"></uv-source>
        </div>
        <div>
          <canvas id="canvas-icon" width="10" height="10"></canvas>
        </div>
      </div>
    </div>


    <div id="template-container"></div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="/bower_components/es6-promise/es6-promise.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/sidebar-v2/js/jquery-sidebar.js"></script>
    <script src="/bower_components/sidebar-v2/js/leaflet-sidebar.js"></script>
    <script src="/bower_components/fetch/fetch.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/jquery-bridget/jquery-bridget.js"></script>
    <script src="/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script src="/bower_components/pixi.js/bin/pixi.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="/bower_components/jssor-slider/js/jssor.slider.mini.js"></script>
    <script src="/bower_components/Vue2Leaflet/dist/vue2-leaflet.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <!-- custom version of sketch -->
    <script src="scripts-external/sketch.js"></script>

    <!-- custom overlay -->
    <script src="scripts/CanvasOverlay.js"></script>
    <!-- main files -->
    <script src="scripts/bus.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/advection.js"></script>
    <script src="scripts/graphics.js"></script>
    <script src="scripts/models.js"></script>
    <script src="scripts/particles.js"></script>
    <script src="scripts/webgl.js"></script>
    <script src="scripts/palettes.js"></script>
    <script src="scripts/key-bindings.js"></script>
    <script src="scripts/story.js"></script>
    <script src="scripts/chart.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
