<template id="key-bindings-template">
  <v-card >
    <v-card-title class="white--text">
      Key bindings
    </v-card-title>

    <v-card-text>
      <v-list>
        <v-list-tile avatar v-for="binding in keyBindings" :key="binding.key">
          <v-list-tile-avatar>
            <kbd>{{ binding.key }}</kbd>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ binding.description }}
            </v-list-tile-title>

          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <kbd>&#x21E7;</kbd> + <kbd><i class="fa fa-mouse-pointer" aria-hidden="true"></i></kbd>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              Draw
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card-text>

  </v-card>
</template>
