<template id="key-bindings-template">
  <v-card >
    <v-card-row class="blue-grey darken-1">
      <v-card-title class="white--text">
      Key bindings
    </v-card-title>
    </v-card-row>

    <v-list>
      <v-list-item v-for="binding in keyBindings">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <kbd>{{ binding.key }}</kbd>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ binding.description }}
            </v-list-tile-title>

          </v-list-tile-content>
        </v-list-tile>
      </v-list-item>
      <v-list-item>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <kbd>&#x21E7;</kbd> + <kbd><i class="fa fa-mouse-pointer" aria-hidden="true"></i></kbd>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              Draw
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-item>
    </v-list>
  </v-card>
</template>
