<template id="model-details-template">

  <div>
    <v-card v-if="model">
      <v-card-row class="green darken-1">
        <v-card-title>
          <span class="white--text">{{ model.title }} <small>{{ model.engine }}</small></span>
        </v-card-title>
      </v-card-row>
      <v-card-text>
        <v-card-row>
          {{ model.abstract }}
          Number of advection cells: {{ model.width * model.height }} ({{model.width}} x {{ model.height}})
        </v-card-row>
      </v-card-text>
    </v-card>
    <div v-else>
      no model loaded
    </div>
  </div>
</template>
