<template id="models-overview-template" >
  <div>
    <div>
      <v-list>
        <v-list-group v-for="(item, key) in nestedModels()" :value="item.active">
          <v-list-tile slot="item" v-if="item.items.length > 1">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile slot="item" v-else>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.items[0].abstract || item.items[0].metadata.summary }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>play</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-tile>
          <v-list-item v-for="subItem in item.items" v-bind:key="subItem.title">
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.abstract || subItem.metadata.summary }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>play</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-item>
        </v-list-group>
      </v-list>
    </div>
    <div v-for="model in models" class="model" :id="model.id">
      <model-details :model="model" >
      </model-details>
      <!--   <div class="row"> -->

      <!--     <div class="col-xs-12"> -->
      <!--       <h2>{{ model.title }}</h2> -->
      <!--       <p>{{ model.abstract }}</p> -->
      <!--       <a @click="selectModel(model)" class="btn btn-primary btn-xs load-model" :data-id="model.id"> -->
      <!--         <i class="fa fa-play"></i> -->
      <!--       </a> -->
      <!--     </div> -->
      <!--   </div> -->

      <!-- </div> -->
    </div>
</template>
