<template id="models-overview-template" >
  <v-list two-line >
    <template
      v-for="(item, key) in nestedModels()" :value="item.active"
      >
      <v-list-group v-if="item.items.length > 1" :value="item.active">
        <v-list-tile slot="item" >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            <v-list-tile-sub-title>{{ item.abstract || item.metadata.summary }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>keyboard_arrow_down</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile avatar v-for="subItem in item.items" v-bind:key="subItem.title">
          <v-list-tile-avatar>
            <img :src="lookupIcon(subItem)" alt="" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ formatStartTime(subItem) }}</v-list-tile-title>
            <v-list-tile-sub-title>{{ formatDuration(subItem) }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click="selectModel(subItem)">
              <v-icon >play_arrow</v-icon>
            </v-btn>

          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>
      <v-list-tile v-if="item.items.length == 1" avatar >
        <v-list-tile-avatar>
          <img :src="lookupIcon(item.items[0])">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.items[0].metadata.title }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ item.items[0].metadata.summary }}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-btn icon @click="selectModel(item.items[0])">
            <v-icon >play_arrow</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>

    </template>



  </v-list>
</template>
