<template id="realtime-details-template">

  <div>
    <v-card >
      <v-card-title class="blue-grey darken-2 white--text">

        <span class="headline">{{ realtime.title }}</span>
        <v-spacer></v-spacer>
        <div>
          <v-btn icon class="white--text" @click.native="deselect">
            <v-icon>stop</v-icon>
          </v-btn>
          <v-btn icon class="white--text" @click.native="select">
            <v-icon>play_arrow</v-icon>
          </v-btn>
        </div>
      </v-card-title>
      <v-card-text>
        {{ realtime.abstract }}

      </v-card-text>
    </v-card>
  </div>
</template>
