<template id="wind-rose-template">
  <v-card>
    <v-card-row class="blue-grey darken-1">
      <v-card-title class="white--text">
        <span>Wind rose</span>
      </v-card-title>
    </v-card-row>
    <v-card-text>
      <v-card-row>
        <svg class="wind-rose">
          <filter
            id="dropShadow"
            x="0"
            y="0"
            height="3"
            width="3"
            >

            <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
            <feOffset dx="2" dy="4" />
            <feMerge>
              <feMergeNode />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
		      <marker id="triangle"
                  viewBox="0 0 20 20"
                  refX="20"
                  refY="10"
                  markerUnits="strokeWidth"
                  markerWidth="8"
                  markerHeight="6"
                  orient="auto">
			      <path d="M 0 0 L 20 10 L 0 20 z"/>
		      </marker>
        </svg>
      </v-card-row>
    </v-card-text>
  </v-card>

</template>
