<template id="wind-rose-template">
  <v-card>
    <v-card-title class="blue-grey darken-2 white--text">
      <div>
        <h3 class="headline mb-0">Wind direction </h3>
        <div v-html="displayLatLng"></div>
      </div>
    </v-card-title>
    <v-card-text>
      <v-progress-circular v-show="loading" indeterminate color="primary"></v-progress-circular>
    </v-card-text>
    <v-card-media>

      <svg class="wind-rose" v-show="!loading">
        <filter
          id="dropShadow"
          >
          <feDropShadow dx="2" dy="4" stdDeviation="3"/>
        </filter>
        <marker id="triangle"
                viewBox="0 0 20 20"
                refX="20"
                refY="10"
                markerUnits="strokeWidth"
                markerWidth="8"
                markerHeight="6"
                orient="auto">
          <path d="M 0 0 L 20 10 L 0 20 z"/>
        </marker>
        <g id="chart">
          <!-- radial axis -->
          <g class="r axis"></g>
          <!-- shifted labels -->
          <g class="a axis"></g>
          <!-- history traill -->
          <path class="line"></path>
          <!-- arrow -->
          <path class="arrow"></path>
        </g>
      </svg>
    </v-card-media>
    <v-card-actions>
      <v-btn flat @click="selectPoint">select point</v-btn>
    </v-card-actions>
  </v-card>

</template>
